<launch>
  <node pkg="open_controllers" type="dummy_gripper_server.py" name="r_gripper_controller" output="screen" />
  <node pkg="ps3joy" type="ps3_joy_node" name="ps3joy_node" output="screen"/>
  <node pkg="denso_teleop_general" type="pr2_teleop_general_joystick" name="pr2_teleop_general_joystick" output="screen">
  	<param name="control_body" type="bool" value="false"/>
        <param name="control_head" type="bool" value="false"/>
        <param name="control_larm" type="bool" value="false"/>
        <param name="control_rarm" type="bool" value="true"/>
	<param name="control_prosilica" type="bool" value="false"/>
  	<param name="walk_along_x_speed_scale" type="double" value="3.0"/>
  	<param name="walk_along_y_speed_scale" type="double" value="1.0"/>
  	<param name="walk_along_w_speed_scale" type="double" value="3.0"/>
  	<param name="walk_along_x_dist_max" type="double" value=".25"/>
  	<param name="walk_along_y_dist_max" type="double" value=".20"/>
	<remap from="r_arm_controller/joint_trajectory_action"
	       to="arm_controller/joint_trajectory_action" />
	<remap to="/VS060A1_AV6_NNN_NNN_manipulator_kinematics/get_fk_solver_info"
	       from="pr2_right_arm_kinematics/get_fk_solver_info" />
	<remap to="/VS060A1_AV6_NNN_NNN_manipulator_kinematics/get_fk"
	       from="pr2_right_arm_kinematics/get_fk" />
	<remap to="/VS060A1_AV6_NNN_NNN_manipulator_kinematics/get_ik"
	       from="pr2_right_arm_kinematics/get_ik" />
  </node>

</launch>
