<launch>
  <arg name="use_kinect" default="false" />
  <arg name="use_rviz" default="true" />
  <arg name="dryrun" default="true" />
  <arg name="include_startup_launch" default="true" />
  <include file="$(find vs060_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <include file="$(find vs060_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
  </include>

  <include file="$(find vs060_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="config" value="true"/>
  </include>

  <!-- <include file="$(find vs060_moveit_config)/launch/default_warehouse_db.launch" /> -->
  <group if="$(arg use_kinect)">
    <include file="$(find vs060_moveit_config)/launch/kinect.launch" />
    <include file="$(find vs060_moveit_config)/launch/robot_self_filter.launch" />
  </group>

  <group if="$(arg include_startup_launch)">
    <include file="$(find denso_ros_control)/launch/position_control.launch" >
      <arg name="dryrun" value="$(arg dryrun)" />
    </include>
  </group>
</launch>
