<launch>
    <arg name="LAUNCH_OPENNI" default="true" />
    <arg name="LAUNCH_DENSO" default="true" />
    <include if="$(arg LAUNCH_DENSO)"
             file="$(find denso_launch)/launch/denso_vs060_startup_simulation.launch" />
    <include file="$(find vs060A1_AV6_NNN_NNN_arm_navigation)/launch/vs060A1_AV6_NNN_NNN_planning_environment.launch" />
    <!--include file="$(find planning_environment)/launch/planning_environment_visualization_prerequisites.launch" /-->
    <include file="$(find planning_environment)/launch/environment_server.launch">
        <arg name="use_monitor" value="true" />
        <arg name="use_collision_map" value="false" />
    </include>
    <include file="$(find vs060A1_AV6_NNN_NNN_arm_navigation)/launch/constraint_aware_kinematics.launch" />
    <include file="$(find vs060A1_AV6_NNN_NNN_arm_navigation)/launch/ompl_planning.launch" />
    <include file="$(find vs060A1_AV6_NNN_NNN_arm_navigation)/launch/trajectory_filter_server.launch" />
    <node pkg="rviz" type="rviz" name="rviz_planning_components"
          args="-d $(find vs060A1_AV6_NNN_NNN_arm_navigation)/config/planning_components_visualizer.vcg"
          respawn="true" />
    <node pkg="move_arm_jsk_patch"
          type="planning_components_executor"
          name="planning_components_executor"
          output="screen" >
      <param name="controller_action_name" value="/arm_controller/follow_joint_trajectory" />
    </node>
    <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

    <group if="$(arg LAUNCH_OPENNI)">
    <include file="$(find openni_launch)/launch/openni.launch" />
    <node pkg="tf" type="static_transform_publisher" name="denso_openni_tf_publisher"
          args="-0.3 0 1.1 0 1.5708 0 /BASE /camera_link 40"
          output="screen" />
    </group>
</launch>
