<launch>
  <arg name="server_ip" default="10.3.147.61" />
  <arg name="robot_description" default="$(find vs060)/model/vs060A1_AV6_NNN_NNN.urdf" />
  <include file="$(find denso_ros_control)/launch/position_control.launch"
           pass_all_args="true" />
  <group if="false">
    <node pkg="denso_launch" output="screen" name="$(anon vs_060_test)"
          type="vs060-test.l" respawn="true"
          />
  </group>
</launch>
